.footer{
    padding: 0.5rem;
    font-size: smaller;
}

.footer p{
    font-size: medium;
}

.socials{
    font-size: 18px;
    color: var(--color-dark-brown);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

