.footer{
    padding: 1rem;
}

.footer p{
    font-size: 18px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.socials{
    color: var(--color-dark-brown);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

