input[type="text"],
textarea {
  background-color: var(--color-beige);
  border: none;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  max-width: 600px;
  border-radius: 5px;
  color: var(--color-brown);
}

.postForm__input[type="text"] {
  background-color: var(--color-beige);
}

input[type="email"] {
  background-color: var(--color-beige);
  border: none;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  max-width: 600px;
  color: var(--color-brown);
}

input[type="password"] {
  background-color: var(--color-beige);
  border: none;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  max-width: 600px;
  color: var(--color-brown);
}

.postForm {
  background: rgba(210, 184, 116, 0.32);
  color: var(--color-brown);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 2rem;
  max-width: 700px;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.editComment {
  background-color: var(--color-beige);
}