input[type="text"],
textarea {
  background-color: var(--color-white);
  border: none;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  max-width: 50rem;
  border-radius: 5px;
  color: var(--color-warm-brown);
}

.postForm__input[type="text"] {
  background-color: var(--color-white);
  color: var(--color-warm-brown);
  max-width: 50rem;
}

input[type="email"] {
  background-color: var(--color-beige);
  border: none;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  max-width: 600px;
  color: var(--color-brown);
}

input[type="password"] {
  background-color: var(--color-white);
  border: none;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  max-width: 600px;
  color: var(--color-brown);
}

.postForm {
  background: var(--color-light-beige);
  color: var(--color-warm-brown);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 2rem;
  max-width: 50rem;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1.5rem 2rem rgba(107, 122, 133, 0.2);
}


.editComment {
  background-color: var(--color-beige);
  color: var(--color-brown);
  width: 100%;
}

.contact-form .input {
  display: block;
  background-color: transparent;
  border-color: transparent;
  color: var(--color-warm-brown);
  font-weight: normal;
  border-bottom: 2px solid white;
  padding-left: 0;
  background: transparent;
  position: absolute;
  left: ;
}

.input-group{
    margin-bottom: 1rem;
}
.contact-content{
  justify-content: space-between;
}
.contact-image-wrap{
  display: block;
  flex: 0 0 65%;
}
.contact-image-wrap img{
  width: 100%;
}

.contact.form{
  flex: 0 0 50%;
  align-self: flex-start;
}

.input-group-wrap{
  display: flex;
}
.input-group-wrap .input-group{
  width: 50%;
  margin-right: 2rem;
}



.comment-form textarea{
  border-color: transparent;
  background-color: transparent;
  background: transparent;
  font-weight: normal;
  color: var(--color-dark-brown);
  /* position: absolute; */
  left: 10rem;
  max-width: 70%;
  max-height: 50%;
}



.bar {
  display: block;
  position: relative;
}

.bar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--cyan-transparent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.contact-form .input:focus + bar::after {
  transform: scaleX(1);
}