.postCard-section{
  padding-bottom: 3rem;
  margin-bottom: 1rem;
}

.postCard {
    background: var(--color-light-beige);
    padding: 1rem;
    box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
    border-radius: 2px;
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-warm-brown);
    height: auto;
    
  }

  .postCard__content {
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: 8px;
    width: 90%;
    display: grid;
    grid-template-areas: 
    "picture . . topic"
    ". title . date"
    ". body body body"
    ". edit-delete . comments"
    " . comment comment comment"
    ". comment-form comment-form comment-form";
    grid-template-rows: auto;
    gap: 1rem 1rem;
    grid-template-columns: 10rem 10rem 10rem 10rem;
    grid-template-rows: 2rem 10rem auto auto; 
    justify-items: center;
  }

  .picture{
    width: 10rem;
    height: 100%;
    object-fit: cover;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
.postCard__topic{
  grid-area: "topic";
  grid-column-start: 5;
}
.postCard__content-heading {
  padding-top: 0;
  font-weight: 700;
  grid-area: "title";
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column: span 2;

}
.postCard--date {
  font-size: 1rem;
  padding: .5rem;
  grid-area: "date";
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column: span 1;
}
.postCard__content-body{
  grid-area: "body";
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column: span 4;
}

  .postCard__editDelete {
    padding: 1rem;
    grid-area: "edit-delete";
  }
  
  .postCard__comments {
    background: var(--color-beige);
    text-align: right;
    font-size: 1.2rem;
    margin-right: 3rem;
    margin-top: 2rem;
    grid-area: "comment";
  }
  
  .postCard__comments-icon {
    background: none;
    color: var(--color-brown);
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    margin: 1rem;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    transition: color 0.5s;
    cursor: pointer;
    left: 20rem;
    grid-area: "comments";
  }
  .postCard__comments-icon:hover {
    color: var(--color-light-beige);
  }
  
  .comments-icon{
    width: 2rem;
    height: 2rem;
    font-size: 3rem;
  }
  
  


 

  
  .postCard--user {
    left: 0.6rem;
    top: 0.4rem;
    font-size: 1rem;
    padding: .5rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  



