.postCard-section{
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}

.postCard {
    background: var(--color-light-beige);
    padding: 1.0rem;
    box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
    border-radius: 2px;
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-warm-brown);
    height: auto;
    font-family: "Montserrat", sans-serif;
  }

  .postCard__content {
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: 9rem auto auto auto auto;
    grid-template-rows: 4rem auto auto auto auto;
    margin-right: 0; 
    font-family: "Montserrat", sans-serif;
  }

  .postCard__userCard{
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto;
  }


  .postCard__userCard .userCard {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      padding: 0;
      box-shadow: none;

  }
  .postCard__userCard .userCard__avatar{
    margin: auto;
    width: 100%;

  }


  .postCard__userCard .userCard__full-name{
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: auto;
  }
  
  .postCard__userCard .userCard__text{
    font-weight: 300;
    font-size: 0.8rem;
    display:none;
  }


  
.postCard__topic{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  background-color: var(--color-warm-brown);
  padding: 0.8rem;
  font-size: 0.8rem;
  margin-left: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-radius: 2px;
}

.postCard__topic h1{
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  color: var(--color-light-beige);

}

.postCard__content-heading {
  padding-top: 0;
  font-weight: 500;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  padding: 0.5rem;
  justify-self: center;
  margin: 0rem auto;
}

.postCard__content-read-more{
  display: inline-block;
  margin: auto;
  grid-row-start: 5;
  grid-column-start: 2;
  grid-column-end: 5;  
  color: var(--color-brown);
  cursor: pointer;
  padding:0;

}
.postCard__content-read-more:hover{
  color: var(--color-warm-brown);
}
.read-more{
  font-size: 1.7rem;
  background: none;
  transition: color 0.5s;
  padding-top: 0.4rem;
  margin-left: 0.5rem;

}

.postCard__content-read-more.p{
  font-weight: 300;
  font-size: 1rem;
}

.postCard--user {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 1rem;
  padding: .5rem;
  margin: 0 auto;
}
.postCard--date {
  font-size: 1rem;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column: span 1;
  margin: auto;
}
.postCard__content-body{
  grid-area: "body";
  grid-row-start: 6;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row: span auto;
  justify-self: start;
  margin: 1rem 2.5rem;

}

  .postCard__editDelete {
    padding: 0;
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 2;  
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0rem;
  }

  .delete,.edit{
    font-size: 1.5rem;
    margin: 1rem;
    color: var(--color-warm-brown);
  }

  .delete:hover,.edit:hover{
    color: var(--color-beige);
  }

  .postCard__editPost{
    width: 100%;
    grid-row-start: 6;
    grid-row-end: auto;
    grid-column-start: 2;
    grid-column-end: 6;
    margin:auto;
    justify-self: center;
  }
  .editPost{
    width: 100%;

  }
  .editForm_topic{
    padding-top: 0.5rem;
    justify-content: center;
  }

  .editForm_topic-selector{
      min-width: 10rem;
      max-width: 30%;
      margin: auto;
  }
  
  .postCard__comments {
    text-align: right;
    font-size: 1.2rem;
    grid-row-start: 4;
    grid-column-start: 5;
    grid-column-end: 6;
    justify-self: end;
    display: inline-block;
  }
  
  .postCard__comments-icon {
    background: none;
    color: var(--color-warm-brown);
    display: inline-block;
    cursor: pointer;
    transition: color 0.5s;
    font-size: 2rem;
  }
  .postCard__comments-icon:hover,.postCard__comments:hover {
    color: var(--color-beige);
  }
  


  


