.userCard{
    background-color: var(--color-light-beige);
    box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
    display: grid;
    align-items: center;
    margin: auto;
    grid-gap: 1rem;
    padding: 2rem 1rem;
    max-width: 90%;
    color: var(--color-warm-brown);
}
.userCard__avatar{
    width: 90%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 2rem auto;
  }

.userCard__full-name{
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: auto;
}

p.userCard__origin {
  font-weight: 300;
  font-size: 0.9rem;
}

.userCard__info {
  font-weight: 300;
  font-size: 0.9rem;
}
