* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-beige);
}

.page-with-bg {
  background-image: url("../../assets/common/vector-creator-4.svg"),
    url("../../assets/common/vector-creator-9.svg"),
    url("../../assets/common/vector-creator-7.svg"),
    url("../../assets/common/vector-creator-7.svg"),
    url("../../assets/common/vector-creator-9-1.svg"),
    url("../../assets/common/vector-creator-4-1.svg");
  background-repeat: no-repeat;
  background-position: top right, center right, bottom right -6%, top left,
    top 56% left, bottom left -3%;
  background-size: 14vw, 10vw, 15vw, 14vw, 10vw, 17vw;
}
