*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,body {
  height: 100vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-beige);
}

body {
  position: relative;
  padding: 0rem;
}

section {
  text-align: center;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  font-size: 1.6rem;
}

h2 {
  font-size: 2rem;
  padding: 1rem;
}

h3 {
  font-size: 1.8rem;
  padding: 0.5rem;
}

h5 {
  font-size: 0.8rem;
}

.page-with-bg {
  background-image: url("../../assets/common/vector-creator-4.svg"),
    url("../../assets/common/vector-creator-9.svg"),
    url("../../assets/common/vector-creator-7.svg"),
    url("../../assets/common/vector-creator-7.svg"),
    url("../../assets/common/vector-creator-9-1.svg"),
    url("../../assets/common/vector-creator-4-1.svg");
  background-repeat: no-repeat;
  background-position: top right, center right, bottom right -6%, top left,
    top 56% left, bottom left -3%;
  background-size: 14vw, 10vw, 15vw, 14vw, 10vw, 17vw;
}