.auth-page {
  padding: 10vh 4vw;
  height: 100vh;
  text-align: initial;
  font-size: initial;
}

.auth-page p {
  font-size: initial;
  font-family: "Montserrat", sans-serif;
}

.auth-page h1 {
  margin-bottom: 2vh;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.description {
  margin: 0 auto;
  max-width: 65vw;
  text-align: center;
}
.form-layout {
  margin: 3vh auto;
  max-width: 65vw;
  min-height: 59vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--color-light-beige);
  box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
}

.form-background {
  height: 100%;
  background-image: url("../../assets/images/auth/formBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-wrapper {
  padding: 20% 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form {
  width: 90%;
  margin-bottom: 14%;
}

.form-wrapper h2 {
  margin-bottom: 3%;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.auth-form .form-control {
  display: block;
  width: 100%;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-dark-brown);
  border: 0.5px solid var(--color-dark-brown);
  border-radius: 0.4rem;
}

.btn-group {
  text-align: center;
}

.btn {
  margin-top: 0.75rem;
  display: inline-block;
  width: 7rem;
  background-color: var(--color-dark-brown);
  border-radius: 0.5rem;
  color: var(--color-white);
  padding: 0.45rem 0.8rem;
  font-size: 1.1rem;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  -webkit-appearance: button;
  border: 0;
}

.form-switcher {
  width: 100%;
  border: none;
  text-align: center;
  text-decoration: underline;
  color: var(--color-dark-brown);
  font-family: "Montserrat", sans-serif;

}
