.contact-form .input {
    display: block;
    background-color: transparent;
    border-color: transparent;
    color: var(--color-warm-brown);
    font-weight: normal;
    border-bottom: 2px solid white;
    padding-left: 0;
    background: transparent;
    position: absolute;
    left: ;
  }
  
  .input-group{
      margin-bottom: 1rem;
  }
  .contact-content{
    justify-content: space-between;
  }
  .contact-image-wrap{
    display: block;
    flex: 0 0 65%;
  }
  .contact-image-wrap img{
    width: 100%;
  }
  
  .contact.form{
    flex: 0 0 50%;
    align-self: flex-start;
  }
  
  .input-group-wrap{
    display: flex;
  }
  .input-group-wrap .input-group{
    width: 50%;
    margin-right: 2rem;
  }
  
  
  
  .comment-form textarea{
    border-color: transparent;
    background-color: transparent;
    background: transparent;
    font-weight: normal;
    color: var(--color-dark-brown);
    /* position: absolute; */
    left: 10rem;
    max-width: 70%;
    max-height: 50%;
  }
  
  
  
  .bar {
    display: block;
    position: relative;
  }
  
  .bar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--cyan-transparent);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  .contact-form .input:focus + bar::after {
    transform: scaleX(1);
}