.contact{
    max-width: 80%;
    margin: 4rem;
    align-content: center;
    padding: 2rem 4rem;
    background-color: var(--color-light-beige);
}

.contact h2{
    font-weight: 500;
    color: var(--color-warm-brown);
}

.contact h4{
    font-weight: 400;
    color: var(--color-dark-brown);

}

.input-group{
    background: transparent;
}

.contact-form .input {
    display: block;
    background-color: var(--color-light-beige);
    border-color: transparent;
    color: var(--color-warm-brown);
    font-weight: normal;
    border-bottom: 2px solid;
    padding-left: 0;
    background: transparent;
    font-size: 1rem;
  }
  

  .input-group{
      margin-bottom: 1rem;
      background: transparent;
      margin-top: 1rem;
  }
  .contact-content{
    justify-content: space-between;
  }
  .contact-image-wrap{
    display: block;
    flex: 0 0 65%;
  }
  .contact-image-wrap img{
    width: 100%;
  }
  
  .contact.form{
    flex: 0 0 50%;
    align-self: flex-start;
    background: transparent;
  }
  
  .input-group-wrap{
    display: flex;
  }
  .input-group-wrap .input-group{
    width: 50%;
    margin-right: 2rem;
  }

  #subject{
      color:var(--color-dark-brown);
      background-color: var(--color-light-beige);
  }
  
  .bar {
    display: block;
    position: relative;
  }
  
  .bar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-brown);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  .contact-form .input:focus + bar::after {
    transform: scaleX(1);
}

.cta{
    margin-top: 0.75rem;
    display: inline-block;
    width: 10rem;
    background-color: var(--color-dark-brown);
    border-radius: 0.5rem;
    color: var(--color-white);
    padding: 0.45rem 0.8rem;
    font-size: 1.1rem;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    -webkit-appearance: button;
    border: 0;
    font-weight: 500;
}