.contact-us-page{
  justify-content: center;
  margin: auto;

}

.contact-us-header {
  background-image: url("../../assets/images/contact/contact-us.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  opacity: 0.5;
}

.contact-us-form{
  display: flex;
  justify-content: center;
}

.contact__container{
    max-width: 90%;
    margin: auto;
    margin-top: 2rem;
    align-content: center;
    padding: 2rem 2rem;
    background-color: var(--color-light-beige);
}

.contact__container h2{
    font-weight: 600;
    color: var(--color-warm-brown);
}

.contact__container h4{
    font-weight: 400;
    color: var(--color-dark-brown);

}

.input-group{
    background: transparent;
}

.contact-form .input {
    background-color: var(--color-light-beige);
    border-color: transparent;
    color: var(--color-warm-brown);
    font-weight: normal;
    border-bottom: 2px solid;
    padding-left: 0;
    background: transparent;
    font-size: 1rem;
  }
  

  .input-group{
      margin: auto;
      background: transparent;
  }
  .contact-content{
    justify-content: space-between;
  }
  .contact-image-wrap{
    display: block;
    flex: 0 0 65%;
  }
  .contact-image-wrap img{
    width: 100%;
  }
  
  .contact__container.form{
    flex: 0 0 50%;
    align-self: flex-start;
    background: transparent;
  }
  
  .input-group-wrap{
    display: flex;
    width: 100%;
  }
  .input-group-wrap .input-group{
    margin-right: 2rem;
  }
.contact__selector-container{
  min-width: 20%;
  max-width: 15rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.contact-selector{
  background-color: var(--color-light-beige);
}

  #subject{
      color:var(--color-dark-brown);
      background-color: var(--color-light-beige);
  }
  
  .bar {
    display: block;
    position: relative;
  }
  
  .bar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-brown);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  .contact-form .input:focus + bar::after {
    transform: scaleX(1);
}

.cta{
    margin-top: 0.75rem;
    display: inline-block;
    width: 10rem;
    background-color: var(--color-brown);
    border-radius: 0.5rem;
    color: var(--color-white);
    padding: 0.45rem 0.8rem;
    font-size: 1.1rem;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    -webkit-appearance: button;
    border: 0;
    font-weight: 500;
    margin-bottom: 4rem;
}