
.communityGuidelines {
    text-align: left;
    padding: 2rem;
    color: var(--color-dark-brown);
    max-width: 90%;
    max-width: 80%;
    margin: 4rem;
    align-content: center;
    padding: 2rem 4rem;
    background-color: var(--color-light-beige);
  }
  
  .communityGuidelines--heading {
    text-align: center;
    font-weight: 900;
    color: var(--color-warm-brown);
  }
  
  .communityGuidelines--welcome {
    text-align: center;
    padding-bottom: 2rem;

  }
  
  .communityGuidelines--subHeading {
    text-align: center;
    padding: 2rem;
    color: var(--color-warm-brown);
  }
  
  .communityGuidelines__list {
    list-style: disc;
    font-size: 1.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .communityGuidelines__list--item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }