
.communityGuidelines {
    text-align: left;
    padding: 2rem;
    color: var(--color-dark-brown);
    max-width: 90%;
    margin: auto;
    margin-top: 2rem;
    align-content: center;
    padding: 2rem 4rem;
    background-color: var(--color-light-beige);
    justify-content: center;
    display: inline-block;
    
    
  }
  
  .communityGuidelines--heading {
    text-align: center;
    font-weight: 600;
    color: var(--color-warm-brown);
    font-size: 1.5rem;

  }
  
  .communityGuidelines--welcome {
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 500;
    font-size: 1.5rem;

  }

  p.communityGuidelines--contentBody{
    font-weight: 400;
    font-size: 1.2rem;
    text-justify: inter-word;
    text-align: justify;
  }
  
  .communityGuidelines--subHeading {
    text-align: center;
    padding: 2rem;
    color: var(--color-warm-brown);
    font-weight: 500;

  }
  
  .communityGuidelines__list {
    list-style: disc;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 400;

  }
  
  .communityGuidelines__list--item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
  }