/*MentorCard*/
.mentor {
    color: var(--color-dark-brown);
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.mentor h2{
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

.mentor-info .bold-p{
    font-size: 18px;
    font-weight: bold;
}

.mentor-info .mentor-name{
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.mentor-info p{
    font-size: 18px;
    font-weight: normal;
}

.mentor-info {
    padding: 1rem;
}

.mentor-section{
    background-color: var(--color-light-beige);
    box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 40rem;
}
.mentor-photo {
    display: flex;
    justify-content: center;
}

.mentor-photo img{
    width: 20rem;
    padding: 1rem;
}

@media (min-width: 600px) {
    .mentor-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*MentorsPage*/

.mentors-page{
    color: var(--color-dark-brown);
}

.mentors-header {
    background-image: url("../../assets/images/profile/mentor-page1.jpg");
    background-size: cover;
    background-position: center;
    height: 15rem;
    opacity: 0.5;
}

.mentors-title-centered{
    display: grid;
    justify-content: center;
}

.mentors-page-title{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 25rem;
}

.mentor-selector{
    display: grid;
    justify-content: center;
}

.mentor-filter{
    width: 18rem;
    margin-bottom: 1rem;
}

.mentors-page-title h1{
    text-align: center;
    margin-top: 2rem;
    font-size: 30px;
    font-weight: bolder;
}

.mentors-page-title h2{
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    padding-right: 2rem;
    padding-left: 2rem;
}

.mentors-page-title p{
    text-align: center;
    font-size: 18px;
    font-weight: thin;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

@media (min-width: 600px) {
    .mentors-page-title{
        width: 40rem;
    }
}