/*.profile {
    width: 80rem;
    height: auto;
    position: relative;
    background-color: white;
    padding: 2rem;
    margin: 3rem;
    display: inline-flex;
    color: #4E2910;
    box-shadow: 0 1.5rem 2rem rgba(107, 122, 133, 0.2);
}

.profile-photo {
    width: 25rem;
    padding: 5rem;
    margin-top: 1rem;
    background-color: #EEECE6;
}

.profile .full-name {
    position: absolute;
    text-align: center;
    margin-left: 10rem;
    font-weight: bolder;
}

.profile .full-name p{
    padding-right: 1rem;
}

.profile-info {
    padding: 2rem;
}

.full-profile h1, h2{
    text-align: center;
    padding: 2rem;
}

.profile-info p{
    padding-bottom: 1rem;
}

.full-profile {
    color: #4E2910;
}*/

/*InformationCard styles*/

.profile {
    color: var(--color-dark-brown);
}

.profile-grid{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.profile h2{
    text-align: center;
    margin: 1rem;
    font-size: 24px;
    font-weight: normal;
}

.profile p{
    font-size: 18px;
    font-weight: normal;
}

.profile-info {
    padding: 1rem;
}

.profile-section{
    background-color: var(--color-light-beige);
    box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    max-width: 50rem;
    margin: 1rem;
}

.profile-photo img{
width: 15rem;
height: auto;
padding: 1rem;
}

/*PrivateProfile styles*/

.full-profile h1{
    text-align: center;
    margin: 1rem;
    font-size: 30px;
    font-weight: bolder;
}

.full-profile h2{
    text-align: center;
    margin: 1rem;
    font-size: 24px;
    font-weight: normal;
}

.full-profile{
    display: grid;
    justify-content: center;
    color: var(--color-dark-brown);
}

.full-profile button{
    margin-left: 2rem;
}

/*ProfileForm*/
.profile-page {
    display: flex;
    justify-content: center;
}

.profile-form{
    background-color: var(--color-light-beige);
    box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
    margin: 2rem;
    padding: 2rem;
    max-width: 50rem;
}

.profile-form input{
 margin-right: 1rem;
}